body {
  font-family: 'Pirata One', cursive;
}

#container {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
}

h2 {
  line-height: initial;
  font-size: 7vw;
  color: #40bebf;
}

#game-title {
  height: 10%;
}

#screen-intro {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: tomato;
  font-size: xx-large;
}

#intro-title {
  font-size: 12vw;
  color: tomato;
  align-items: center;
  justify-content: center;
  display: flex;
}

#intro-button {
  font-size: 4vw;
  border-radius: 5px;
  background: #1989AC;
  color: #FFDE25;
  font-family: 'Pirata One', cursive;
}

#intro-button:hover {
  background: white;
  color: black;
}

.main {
  margin: 5%;
  margin-bottom: 76%;
  align-items: center;
}

.status {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #40bebf;
  font-size: 3vw;
  line-height: initial;
}

#timer {
  color: tomato;
}

#items-left {
  color: gold;
}

#game-over-screen {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: tomato;
  font-size: 16vw;
}

#game-over-button {
  font-size: 4vw;
  border-radius: 5px;
  background: #1989AC;
  color: #FFDE25;
  font-family: 'Pirata One', cursive;
}

#game-over-button:hover {
  background: white;
  color: black;
}

#board {
  margin: 5%;
  background: #3FBFBF;
  border-radius: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.row {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: initial;
  height: 5vh;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  line-height: initial;
  width: 100%;
  height: 5vh;
}

.image-cell {
  max-width: 100%;
  max-height: 100%;
}

.top-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/seawater.png);
  background-size: contain;
}
